parameters:
	ignoreErrors:
		-
			message: "#^Method Zenstruck\\\\Console\\\\Attribute\\\\Argument\\:\\:__construct\\(\\) has parameter \\$default with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Argument.php

		-
			message: "#^Property Zenstruck\\\\Console\\\\Attribute\\\\Argument\\:\\:\\$default type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Argument.php

		-
			message: "#^Method Zenstruck\\\\Console\\\\Attribute\\\\Option\\:\\:__construct\\(\\) has parameter \\$default with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Option.php

		-
			message: "#^Method Zenstruck\\\\Console\\\\Attribute\\\\Option\\:\\:__construct\\(\\) has parameter \\$shortcut with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Option.php

		-
			message: "#^Property Zenstruck\\\\Console\\\\Attribute\\\\Option\\:\\:\\$default type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Option.php

		-
			message: "#^Property Zenstruck\\\\Console\\\\Attribute\\\\Option\\:\\:\\$shortcut type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Attribute/Option.php

