name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  test:
    uses: zenstruck/.github/.github/workflows/php-test-symfony.yml@main
    with:
      phpunit: simple-phpunit

  code-coverage:
    uses: zenstruck/.github/.github/workflows/php-coverage-codecov.yml@main
    with:
      php: 8
      phpunit: simple-phpunit

  composer-validate:
    uses: zenstruck/.github/.github/workflows/php-composer-validate.yml@main

  cs-check:
    uses: zenstruck/.github/.github/workflows/php-cs-fixer.yml@main
    with:
      php: 8

  sca:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none

      - name: Install Dependencies
        uses: ramsey/composer-install@v1

      - name: Install PHPUnit
        run: vendor/bin/simple-phpunit install

      - name: Run PHPStan
        run: vendor/bin/phpstan --error-format=github
